
/**
 * Style
 */

body {
  margin: auto;
  font: 18px "Borgia Pro";
  color: #212121;
  background-color: #EEEEEE;
  line-height: 1.556;
  height: 100%;
}

/* Typography */

@font-face {
  font-family: "Borgia Pro";
  src: url("../fonts/BorgiaPro-Italic-webfont.eot");
  src: url("../fonts/BorgiaPro-Italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BorgiaPro-Italic-webfont.woff") format("woff"),
       url("../fonts/BorgiaPro-Italic-webfont.ttf") format("truetype"),
       url("../fonts/BorgiaPro-Italic-webfont.svg#borgia_proitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Borgia Pro";
  src: url("../fonts/BorgiaPro-Regular-webfont.eot");
  src: url("../fonts/BorgiaPro-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BorgiaPro-Regular-webfont.woff") format("woff"),
       url("../fonts/BorgiaPro-Regular-webfont.ttf") format("truetype"),
       url("../fonts/BorgiaPro-Regular-webfont.svg#borgia_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Borgia Pro";
  src: url("../fonts/BorgiaPro-BoldItalic-webfont.eot");
  src: url("../fonts/BorgiaPro-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BorgiaPro-BoldItalic-webfont.woff") format("woff"),
       url("../fonts/BorgiaPro-BoldItalic-webfont.ttf") format("truetype"),
       url("../fonts/BorgiaPro-BoldItalic-webfont.svg#borgia_probold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Borgia Pro";
  src: url("../fonts/BorgiaPro-Bold-webfont.eot");
  src: url("../fonts/BorgiaPro-Bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BorgiaPro-Bold-webfont.woff") format("woff"),
       url("../fonts/BorgiaPro-Bold-webfont.ttf") format("truetype"),
       url("../fonts/BorgiaPro-Bold-webfont.svg#borgia_probold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* Typography */

article {
  max-width: 60ch;
}

a {
  font-size: 18px;
  font-weight: bold;
  color: #212121;
  text-decoration: none;
  cursor: pointer;
}

  a:hover {
    color: #9B2621;
  }

h1, h2, h3, h4, h5 {
  text-rendering: optimizeLegibility;
  margin-bottom: 0;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.167;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: #616161;
  line-height: 1.5;
}

h3, h3 > a {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.167;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  color: #616161;
  font-style: italic;
  line-height: 1.167;
}

h5 {
  font-size: 22px;
  text-transform: uppercase;
  color: #616161;
  font-weight: normal;
  padding: 10px 24px 10px 46px;
}

p {
  font-size: 18px;
  line-height: 1.556;
}

p > a {
  color: #9B2621;
  text-decoration: underline;
}
  p > a:hover {
    color: #E83B3C;
  }

/* Elements */

main {
  margin: 0 0 0 310px;
  height: 100%;
  position: relative;
  padding: 24px 60px;
  padding-bottom: 35px;
  max-width: 780px;
  background-color: #FAFAFA;
}

article {
  margin-bottom: 60px;
}

section {
  margin-top: 60px;
}

nav {
  min-height: 100%;
  padding-top: 50px;
  width: 250px;
  border-left: 60px solid #FAFAFA;
  position: fixed;
  text-align: center;
  background-color: #FEFDDF;
}

nav > h5 {
  text-align: left;
}

dl {
  text-align: left;
}

  dt {
    margin-top: 0;
  }

nav a {
  border-left: 2px solid transparent;
  display: block;
  letter-spacing: 0.1px;
  padding: 10px 24px 10px 46px;
  white-space: nowrap;
}

nav a:hover {
  background-color: #E1DEC5;
  color: #9B2621;
}

nav a.current {
  background-color: #FFECB3;
  color: #9B2621;
}

address {
  font-style: normal;
}


/* IDs */

#mobile-nav-bar {
  background-color: #FEFDDF;
  height: 42px;
  position: fixed;
  width: 100%;
  display: none;
  z-index: 10;
}

#logo {
  max-width: 100px;
}

nav#mobile-nav.hidden {
  display: none;
}

/* Classes */

.hamburger-button {
  display: inline;
  vertical-align: middle;
  height: 35px;
  margin: 4px 6px;
  z-index: 11;
  cursor: pointer;
}

.inline-image, iframe {
  max-width: 60ch;
  width: 100%;
}

span.gc-cs-link {
  color: #212121;
}

/* Responsive */

@media only screen and (max-width : 923px) {
  nav#desktop-nav {
    display: none;
  }

  nav#mobile-nav {
    display: inherit;
    position: fixed;
    border-left: none;
    padding-top: 92px;
  }

  #mobile-nav-bar > h5 {
    display: inline;
    font-size: 12px;
    margin: 0;
    padding: 0;
    padding-left: 14px;
    overflow: scroll;
  }

  #mobile-nav-bar {
    display: block;
  }

  main {
    margin: auto;
    height: 100%;
    position: static;
    padding: 60px 60px;
    padding-bottom: 35px;
  }
}
