body {
  max-width: 60ch;
  margin: 60px auto;
  font: 22px "Borgia Pro";
  color: #191919;
}

@font-face {
  font-family: "Borgia Pro";
  src: url("../fonts/BorgiaPro-Italic-webfont.eot");
  src: url("../fonts/BorgiaPro-Italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BorgiaPro-Italic-webfont.woff") format("woff"),
       url("../fonts/BorgiaPro-Italic-webfont.ttf") format("truetype"),
       url("../fonts/BorgiaPro-Italic-webfont.svg#borgia_proitalic") format("svg");
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: "Borgia Pro";
  src: url("../fonts/BorgiaPro-Regular-webfont.eot");
  src: url("../fonts/BorgiaPro-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BorgiaPro-Regular-webfont.woff") format("woff"),
       url("../fonts/BorgiaPro-Regular-webfont.ttf") format("truetype"),
       url("../fonts/BorgiaPro-Regular-webfont.svg#borgia_proregular") format("svg");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "Borgia Pro";
  src: url("../fonts/BorgiaPro-BoldItalic-webfont.eot");
  src: url("../fonts/BorgiaPro-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BorgiaPro-BoldItalic-webfont.woff") format("woff"),
       url("../fonts/BorgiaPro-BoldItalic-webfont.ttf") format("truetype"),
       url("../fonts/BorgiaPro-BoldItalic-webfont.svg#borgia_probold_italic") format("svg");
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: "Borgia Pro";
  src: url("../fonts/BorgiaPro-Bold-webfont.eot");
  src: url("../fonts/BorgiaPro-Bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BorgiaPro-Bold-webfont.woff") format("woff"),
       url("../fonts/BorgiaPro-Bold-webfont.ttf") format("truetype"),
       url("../fonts/BorgiaPro-Bold-webfont.svg#borgia_probold") format("svg");
  font-weight: bold;
  font-style: normal;

}

/* Typography */

h1, h2, h3, h4, h5 {
  text-rendering: optimizeLegibility;
  margin-bottom: 0;
}

h1 {
  font-size: 2.7273em; /* 60px */
  line-height: 1.2500em; /* 75px */
  margin-top: 0.4167em;
  margin-bottom: 0.0000em;
}

h2 {
  font-size: 1.6364em; /* 36px */
  line-height: 1.3889em; /* 50px */
  margin-top: 0.6944em;
  margin-bottom: 0.0000em;
  font-style: italic;
}

h3 {
  font-size: 1.0909em; /* 24px */
  line-height: 1.0417em; /* 25px */
  margin-top: 1.0417em;
  margin-bottom: 0.0000em;
}

h4 {
  font-size: 0.8182em; /* 18px */
  line-height: 1.3889em; /* 25px */
  margin-top: 0.0000em;
  margin-bottom: 1.3889em;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-size: 1em; /* 22px */
  line-height: 1.1364em; /* 25px */
  margin: 0 0 1.1364em 0;
}

a {
  font-size: 0.7273em; /* 16px */
  line-height: 1.5625em; /* 25px */
  margin: 0 0 1.5625em 0;
  color: #07598C;
  text-transform: uppercase;
  font-weight: bold;
}

article > header > h1 + p {
  font-style: italic;
  text-transform: uppercase;
}

/* Elements */

header[role=banner] {
  margin: auto 16px;
}

nav {
  margin: 1em 0; 
  border-top: 2px solid #BDB7B4;
  border-bottom: 6px solid #191919;
}
  nav > p {
    margin: 5px 16px;
  }

  nav > p > a {
    margin: 0 8px;
  }

main {
  margin: auto 16px;
}

footer {
  text-align: right;
}

/* IDs */

#logo {
  max-width: 200px;
}

/* Classes */

.border {
  width: 100%;
  height: 4px;
  border-top: 6px solid #191919;
  border-bottom: 2px solid #BDB7B4;
  margin-bottom: 16px;
}